<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-sm-offset-3 col-md-12 col-md-offset-2 mt-2">
            <div class="bodyContent">
                <div class="mt-3 mb-3">
                    <div class="card br-0">
                        <div class="card-body">
                            <div>
                                <tabset>
                                    <tab heading="Personal" id="tab1">
                                        <div class="tabContent">
                                            <div class="row personalInfoBox">
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="empNo" class="mb-1">Employee No</label>
                                                        <input type="text" class="form-control br-0" placeholder="Enter Employee No"
                                                               id="empNo">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="fname" class="mb-1">First Name</label>
                                                        <input type="text" class="form-control" placeholder="Enter First Name"
                                                               id="fname">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="mname" class="mb-1">Middle Name</label>
                                                        <input type="text" class="form-control" placeholder="Enter Middle Name"
                                                               id="mname">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="lname" class="mb-1">Last Name</label>
                                                        <input type="text" class="form-control" placeholder="Enter Last Name"
                                                               id="lname">
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="dob" class="mb-1">Birth Date</label>
                                                        <input type="text" class="form-control br-0" placeholder="Enter Birth date"
                                                               id="dob">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="gender" class="mb-1">Gender</label>
                                                        <select class="form-control" id="gender">
                                                            <option>Male</option>
                                                            <option>Female</option>
                                                            <option>Others</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="phno" class="mb-1">Phone Number</label>
                                                        <input type="text" class="form-control" placeholder="Enter Phone Number"
                                                               id="phno">
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="altPhno" class="mb-1">Alternative Ph No</label>
                                                        <input type="text" class="form-control" placeholder="Enter Alternate Ph No"
                                                               id="altPhno">
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="email" class="mb-1">Email</label>
                                                        <input type="email" class="form-control" placeholder="Enter Email Address"
                                                               id="email">
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="fatherName" class="mb-1">Father Name</label>
                                                        <input type="text" class="form-control" placeholder="Enter Father Name"
                                                               id="fatherName">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="motherName" class="mb-1">Mother Name</label>
                                                        <input type="text" class="form-control" placeholder="Enter Mother Name"
                                                               id="motherName">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="marital" class="mb-1">Marital Status</label>
                                                        <select class="form-control" id="marital">
                                                            <option>Single</option>
                                                            <option>Married</option>
                                                            <option>Divorced</option>
                                                            <option>widowed</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="spouseName" class="mb-1">Spouse Name</label>
                                                        <input type="text" class="form-control" placeholder="Enter Spouse Name"
                                                               id="spouseName">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="panNumber" class="mb-1">PAN Number</label>
                                                        <input type="text" class="form-control" placeholder="Enter PAN Number"
                                                               id="panNumber">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="aadhaarNo" class="mb-1">Aadhaar Number</label>
                                                        <input type="text" class="form-control" placeholder="Enter Aadhaar Number"
                                                               id="aadhaarNo">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="passportNo" class="mb-1">Passport Number</label>
                                                        <input type="text" class="form-control" placeholder="Enter Passport Number"
                                                               id="passportNo">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group mt-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" title="Is PF included" id="customCheck2">
                                                            <label class="custom-control-label" for="customCheck2">Is PF Included</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="pfNumber" class="mb-1">PF Number</label>
                                                        <input type="text" class="form-control" placeholder="Enter PF Number" id="pfNumber">
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="UANNo" class="mb-1">UAN Number</label>
                                                        <input type="text" class="form-control" placeholder="Enter UAN Number" id="UANNo">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="visa" class="mb-1">VISA Number</label>
                                                        <input type="text" class="form-control" placeholder="Enter VISA Number"
                                                               id="visa">
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group mt-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="isESIncluded">
                                                            <label class="custom-control-label" for="isESIncluded">Is ES Included</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group mt-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="isLWFIncluded">
                                                            <label class="custom-control-label" for="isLWFIncluded">Is LWF Included</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-5 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="caddress" class="mb-1">Current address</label>
                                                        <textarea class="form-control" rows="4" id="caddress"></textarea>

                                                        <div class="custom-control custom-checkbox mt-2">
                                                            <input type="checkbox" class="custom-control-input" id="sameAspermanenet">
                                                            <label class="custom-control-label" for="sameAspermanenet">same as permanent address</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="paddress" class="mb-1">Permanent address</label>
                                                        <textarea class="form-control" rows="4" id="paddress"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tabFooter mt-3">
                                            <div class="btn-group float-right">
                                                <button type="button" class="btn bg-first text-white mr-2 br-0">Next</button>
                                                <button type="button" class="btn btn-light br-0">Cancel</button>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab heading="Job">
                                        <div class="tabContent">
                                            <div class="row personalInfoBox">
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="paymentType" class="mb-1">Payment Mode</label>
                                                        <select class="form-control" id="paymentType">
                                                            <option>Cash</option>
                                                            <option>Cheque/DD</option>
                                                            <option>Transfer</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="status" class="mb-1">Status</label>
                                                        <select class="form-control" id="status">
                                                            <option>Probation</option>
                                                            <option>Confirmed</option>
                                                            <option>Quit</option>
                                                            <option>Terminated</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="doj3" class="mb-1">Joining Date</label>
                                                        <input type="text" class="form-control" placeholder="Enter Date of joining" id="doj3">
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="doc" class="mb-1">Confirmation Date</label>
                                                        <input type="text" class="form-control" placeholder="Enter Date of confirmation" id="doc">
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="dol" class="mb-1">Date of leaving</label>
                                                        <input type="text" class="form-control" placeholder="Enter Date of leaving" id="dol">
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="probationDays" class="mb-1">Probation Days</label>
                                                        <select class="form-control" id="probationDays">
                                                            <option>30 days</option>
                                                            <option>60 days</option>
                                                            <option>90 days</option>
                                                            <option>120 days</option>
                                                            <option>150 days</option>
                                                            <option>180 days</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group mt-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customcheck4">
                                                            <label class="custom-control-label" for="customcheck4">Is Probation Extended</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="departmentName" class="mb-1">Department</label>
                                                        <select class="form-control" id="departmentName">
                                                            <option>IT Management</option>
                                                            <option>Accounts Management</option>
                                                            <option>Software Management</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="designation3" class="mb-1">Designation</label>
                                                        <select class="form-control" id="designation3">
                                                            <option>Trainee</option>
                                                            <option>Software Engineer</option>
                                                            <option>Accountant</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="location" class="mb-1">Location</label>
                                                        <select class="form-control" id="location">
                                                            <option>Bangalore</option>
                                                            <option>Hyderabad</option>
                                                            <option>Chennai</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="reportingTo" class="mb-1">Reporting To</label>
                                                        <select class="form-control" id="reportingTo">
                                                            <option>Manager1</option>
                                                            <option>Team Lead1</option>
                                                            <option>Manager2</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tabFooter mt-3">
                                            <div class="btn-group float-right">
                                                <button type="button" class="btn bg-first text-white mr-2 br-0">Next</button>
                                                <button type="button" class="btn btn-light br-0">Cancel</button>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab heading="Education">
                                        <div class="tabContent">
                                            <div class="row personalInfoBox">
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                                    <div class="form-group">
                                                        <label for="level" class="mb-1">Level</label>
                                                        <input type="text" class="form-control br-0" placeholder="Enter Level"
                                                               id="level">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                                    <div class="form-group">
                                                        <label for="stream" class="mb-1">Stream</label>
                                                        <input type="text" class="form-control" placeholder="Enter Stream"
                                                               id="stream">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="institute" class="mb-1">Institute Name</label>
                                                        <input type="text" class="form-control" placeholder="Enter Institute Name"
                                                               id="institute">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-1 pl-0 pr-0">
                                                    <div class="form-group">
                                                        <label for="yearPassed" class="mb-1">Year&nbsp;Passed</label>
                                                        <input type="text" class="form-control br-0" placeholder="Year Passed"
                                                               id="yearPassed">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                                    <div class="form-group">
                                                        <label for="percentage" class="mb-1">Percentage/CGPA</label>
                                                        <input type="text" class="form-control" placeholder="Enter Percentage/CGPA"
                                                               id="percentage">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                                    <div class="form-group">
                                                        <label for="courseType" class="mb-1">Course Type</label>
                                                        <select class="form-control" id="courseType">
                                                            <option>Regular</option>
                                                            <option>Correspondence</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <ng-container *ngIf="isAddEducation == true">
                                                <div class="mt-3 border-top">
                                                    <div class="row personalInfoBox mt-3">
                                                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                                            <div class="form-group">
                                                                <label for="level1" class="mb-1">Level</label>
                                                                <input type="text" class="form-control br-0" placeholder="Enter Level"
                                                                       id="level1">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                                            <div class="form-group">
                                                                <label for="stream1" class="mb-1">Stream</label>
                                                                <input type="text" class="form-control" placeholder="Enter Stream"
                                                                       id="stream1">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                            <div class="form-group">
                                                                <label for="institute1" class="mb-1">Institute Name</label>
                                                                <input type="text" class="form-control" placeholder="Enter Institute Name"
                                                                       id="institute1">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-1 pl-0 pr-0">
                                                            <div class="form-group">
                                                                <label for="yearPassed1" class="mb-1">Year&nbsp;Passed</label>
                                                                <input type="text" class="form-control br-0" placeholder="Year Passed"
                                                                       id="yearPassed1">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                                            <div class="form-group">
                                                                <label for="percentage1" class="mb-1">Percentage/CGPA</label>
                                                                <input type="text" class="form-control" placeholder="Enter Percentage/CGPA"
                                                                       id="percentage1">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                                            <div class="form-group">
                                                                <label for="courseType1" class="mb-1">Course Type</label>
                                                                <select class="form-control" id="courseType1">
                                                                    <option>Regular</option>
                                                                    <option>Correspondence</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <div class="addItem ml-auto">
                                                <button class="btn btn-sm bg-first text-white" (click)="isAddEducation = !isAddEducation">
                                                    <span class="material-icons md-18">add</span>
                                                    <span class="icon-textAlign font-sm">Add More</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="tabFooter mt-3">
                                            <div class="btn-group float-right">
                                                <button type="button" class="btn bg-first text-white mr-2 br-0">Next</button>
                                                <button type="button" class="btn btn-light br-0">Cancel</button>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab heading="Experience">
                                        <div class="tabContent">
                                            <div class="row personalInfoBox">
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="orgName" class="mb-1">Organization Name</label>
                                                        <input type="text" class="form-control br-0" placeholder="Enter Organization Name"
                                                               id="orgName">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                                    <div class="form-group">
                                                        <label for="designation1" class="mb-1">Designation</label>
                                                        <input type="text" class="form-control" placeholder="Enter Designation"
                                                               id="designation1">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                                    <div class="form-group mt-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                                            <label class="custom-control-label" for="customCheck">Is&nbsp;Relieving&nbsp;Letter&nbsp;Issued?</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                                    <div class="form-group">
                                                        <label for="doj1" class="mb-1">Date of Joining</label>
                                                        <input type="text" class="form-control" placeholder="Enter Date of Joining"
                                                               id="doj1">
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 pr-0">
                                                    <div class="form-group">
                                                        <label for="dol1" class="mb-1">Date of Leaving</label>
                                                        <input type="text" class="form-control br-0" placeholder="Enter Date of Leaving"
                                                               id="dol1">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-1">
                                                    <div class="form-group">
                                                        <label for="tenure" class="mb-1">Tenure</label>
                                                        <input type="text" class="form-control" placeholder="Tenure"
                                                               id="tenure" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <ng-container *ngIf="isAddExperience == true">
                                                <div class="mt-3 border-top">
                                                    <div class="row personalInfoBox mt-3">
                                                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                            <div class="form-group">
                                                                <label for="orgName2" class="mb-1">Organization Name</label>
                                                                <input type="text" class="form-control br-0" placeholder="Enter Organization Name"
                                                                       id="orgName2">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                                            <div class="form-group">
                                                                <label for="designation2" class="mb-1">Designation</label>
                                                                <input type="text" class="form-control" placeholder="Enter Designation"
                                                                       id="designation2">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                                            <div class="form-group mt-4">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                                    <label class="custom-control-label" for="customCheck1">Is&nbsp;Relieving&nbsp;Letter&nbsp;Issued?</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                                            <div class="form-group">
                                                                <label for="doj4" class="mb-1">Date of Joining</label>
                                                                <input type="text" class="form-control" placeholder="Enter Date of Joining"
                                                                       id="doj4">
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 pr-0">
                                                            <div class="form-group">
                                                                <label for="dol4" class="mb-1">Date of Leaving</label>
                                                                <input type="text" class="form-control br-0" placeholder="Enter Date of Leaving"
                                                                       id="dol4">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-1">
                                                            <div class="form-group">
                                                                <label for="tenure1" class="mb-1">Tenure</label>
                                                                <input type="text" class="form-control" placeholder="Tenure"
                                                                       id="tenure1" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <div class="addItem ml-auto">
                                                <button class="btn btn-sm bg-first text-white" (click)="isAddExperience = !isAddExperience">
                                                    <span class="material-icons md-18">add</span>
                                                    <span class="icon-textAlign font-sm">Add More</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="tabFooter mt-3">
                                            <div class="btn-group float-right">
                                                <button type="button" class="btn bg-first text-white mr-2 br-0">Next</button>
                                                <button type="button" class="btn btn-light br-0">Cancel</button>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab heading="Payment">
                                        <div class="tabContent">
                                            <div class="row personalInfoBox">
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                    <div class="form-group">
                                                        <label for="paymentMode" class="mb-1">Payment Mode</label>
                                                        <select class="form-control" id="paymentMode">
                                                            <option>Cash</option>
                                                            <option>Cheque/DD</option>
                                                            <option>Transfer</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                                    <div class="form-group">
                                                        <label for="startDate" class="mb-1">Start Date</label>
                                                        <input type="text" class="form-control" placeholder="Enter Start Date"
                                                               id="startDate">
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                                    <div class="form-group">
                                                        <label for="endDate" class="mb-1">End Date</label>
                                                        <input type="text" class="form-control" placeholder="Enter End Date"
                                                               id="endDate">
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-5">
                                                    <div class="form-group">
                                                        <label for="notes" class="mb-1">Notes</label>
                                                        <textarea id="notes" class="form-control" rows="1"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card br-0">
                                                <div class="card-header bg-white p-2">
                                                    <div class="d-flex">
                                                        <div class="item-title">
                                                            <span class="card-title font-weight-light">Bank Details</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="bankDetails">
                                                        <div class="row personalInfoBox">
                                                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                                <div class="form-group">
                                                                    <label for="accountName" class="mb-1">Account Name</label>
                                                                    <input type="text" class="form-control" placeholder="Enter Account Name"
                                                                           id="accountName">
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                                                <div class="form-group">
                                                                    <label for="accountNumber" class="mb-1">Account Number</label>
                                                                    <input type="text" class="form-control" placeholder="Enter Account Number"
                                                                           id="accountNumber">
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                                                <div class="form-group">
                                                                    <label for="bankName" class="mb-1">Bank Name</label>
                                                                    <input type="text" class="form-control" placeholder="Enter Bank Name"
                                                                           id="bankName">
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-2">
                                                                <div class="form-group">
                                                                    <label for="branchName" class="mb-1">Branch Name</label>
                                                                    <input type="text" class="form-control" placeholder="Enter Branch Name"
                                                                           id="branchName">
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-2">
                                                                <div class="form-group">
                                                                    <label for="ifsccode" class="mb-1">IFSC Code</label>
                                                                    <input type="text" class="form-control" placeholder="Enter IFSC Code"
                                                                           id="ifsccode">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tabFooter mt-3">
                                            <div class="btn-group float-right">
                                                <button type="button" class="btn bg-first text-white mr-2 br-0">Next</button>
                                                <button type="button" class="btn btn-light br-0">Cancel</button>
                                            </div>
                                        </div>
                                    </tab>
                                </tabset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



